@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-secondary: #f43f5e;
  --color-secondary-dark: #e11d48;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  @apply bg-gray-50 text-gray-900;
}
