# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Django
*.log
db.sqlite3

# React / Node
node_modules/
dist/

# Editor
.vscode/
.idea/

# OS
.DS_Store